@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width:100%;
    display: flex;
   min-height: 100vh;
    height:100%;
    margin: 0 ;
    padding: 0;
}

@layer base {
    *{
        @apply transition-colors duration-300 ease-in-out;
    }
    :root {
        --theme-col:255 255 255;
        --col-bg: 225 222 220;
        --col-text: 86 52 64;
        --col-primary: 154 135 157;
    }
   .dark {
        --theme-col:100 100 100;
        --col-bg: 45 44 49;
        --col-text: 204 218 209;
        --col-primary: 220 233 133;
    }
}
